:root {
  --page-backgroud: rgb(247, 250, 255);
  --nav-bar-color: rgb(255, 255, 255);
  --heading-color: rgb(17, 24, 71);
  --sub-text-color: rgb(116, 114, 117);
  --call-to-action: rgb(50, 70, 211);
  --call-to-action-fade: rgba(50, 70, 211, 0.3);
  --profile-bar-background: rgb(242, 246, 254);
  --user-name-color: rgb(83, 92, 143);
  --sub-important-text: rgb(190, 196, 218);
  --element-border-raduis: 0.5rem;
  --widget-descriptio-color: rgb(185, 185, 185);
  --regular-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.15s ease-in-out;
  font-family: "Libre Franklin", sans-serif;
}

img {
  object-fit: cover;
}

body {
  background-color: var(--page-backgroud);
  padding: 1rem 21rem 8rem 21rem;
}
@media (max-width: 1254px) {
  body {
    padding: 1rem 1rem 8rem 21rem;
  }
}
@media (max-width: 902px) {
  body {
    padding: 1rem;
  }
}

/*General styles*/
.heading {
  color: var(--heading-color);
  font-weight: 800;
}

.button-no-background {
  background: none;
  border: none;
  cursor: pointer;
}
