.page-widgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.widget-template img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.widget-template {
  background-color: white;
  border-radius: var(--element-border-raduis);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  width: 11rem;
  cursor: default;
  box-shadow: var(--regular-box-shadow);
}

.widget-figure {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--call-to-action);
  margin-bottom: 1rem;
}

.widget-description {
  font-size: 0.9rem;
  color: var(--widget-descriptio-color);
}

@media (max-width: 584px) {
  .widget-template img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .widget-template {
    padding: 0.5rem 1rem;
    width: 8rem;
  }

  .widget-figure {
    font-size: 1.3rem;
  }

  .widget-description {
    font-size: 0.8rem;
  }
}

@media (max-width: 434px) {
  .page-widgets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }

  .widget-template {
    width: 100%;
  }
}
